{% extends 'master\base.html' %} {% block content %}
<div class="container">
  <!-- Fila 1 -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bienvenido a MasterBikes</h1>
      <p class="text-center">
        La mejor experiencia en bicicletas y servicios asociados.
      </p>
    </div>
  </div>
  <!-- Fila 2 -->
  <div class="row">
    <div class="col-md-4">
      <h2>Nuestros Servicios</h2>
      <hr>
      <a href="{% url 'porhacer' %}" class="btn btn-primary btn-block"
        >Arriendo de Bicicletas</a
      >
      <hr />
      <a href="{% url 'porhacer' %}" class="btn btn-primary btn-block"
        >Reparación de Bicicletas</a
      >
      <hr />
      <a href="{% url 'porhacer' %}" class="btn btn-primary btn-block"
        >Productos y Accesorios</a
      >
      <hr />
      <a href="{% url 'porhacer' %}" class="btn btn-primary btn-block"
        >Monitoreo de Servicios</a
      >
      <hr />
    </div>
    <div class="promotion col-md-8">
      <h2>Promociones Especiales</h2>
      <h6 style="color: black">
        Registrate y recibe ofertas y descuentos en nuestros servicios.
      </h6>
      <br>
      <a href="{% url 'porhacer' %}" class="btn btn-secondary">Registrarse</a>
    </div>
  </div>
  </div>
</div>
{% endblock %}