{% extends "master\base.html" %}

{% block content %}
<div class="container">
    <!-- Fila 1 -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Bienvenido a MasterBikes</h1>
            <p class="text-center">La mejor experiencia en bicicletas y servicios asociados.</p>
        </div>
    </div>
    <!-- Fila 2 -->
    <div class="row">
        <div class="col-md-4">
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="col-md-4">      </div>
        <div class="col-md-4">      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Col1</p>
        </div>
        <div class="col-md-4">
            <p>Columna 2</p>
        </div>
        <div class="col-md-4">
            <p>Columna 3</p>
        </div>
    </div>
    <!-- Fila 3 -->
    <div class="row">
        <div class="col-md-6">
            <p>Columna 4</p>
        </div>
        <div class="col-md-6">
            <p>Columna 5</p>
        </div>
    </div>
    <!-- Fila 4 -->
    <div class="row">
        <div class="col-md-3">
            <p>Columna 6</p>
        </div>
        <div class="col-md-3">
            <p>Columna 7</p>
        </div>
        <div class="col-md-3">
            <p>Columna 8</p>
        </div>
        <div class="col-md-3">
            <p>Columna 9</p>
        </div>
    </div>
</div>

<div class="container-fluid mx-3">
    <div class="promotion mt-4">
        <h2>Promociones Especiales</h2>
        <p>Registrate y recibe ofertas y descuentos en nuestros servicios.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">Registrarse</a>
    </div>
</div>
{% endblock %}